<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/8-places.css">
	<link rel="icon" href="../static/images/icon_browser.png">
	<title>AirBnB Clone</title>
</head>
<body>
	<header>
		<div class="logo"></div>
	</header>

	<div class="container">
        <section class="filters" role="search">
          <div class="locations">
            <h3>States</h3>
            <h4>&nbsp;</h4>
            <div class="popover">
							<ul>
              {% for state in states.values()|sort(attribute="name") %}
                <li><strong>{{ state.name }}</strong>
                  <ul>
                  {% for city in state.cities|sort(attribute="name") %}
                    <li>{{ city.name }}</li>
                  {% endfor %}
                  </ul>
                </li>
              {% endfor %}
              </ul>
            </div>

            </div><div class="amenities">
              <h3>Amenities</h3>
              <h4>&nbsp;</h4>
              <UL class="popover">
                {% for amenity in amenities.values()|sort(attribute="name") %}
                  <li>{{ amenity.name}}</li>
                {% endfor %}
              </ul>
            </div>
          <BUTTON>Search</BUTTON>
        </section>

        <section class="places">
          <H1>Places</H1>
		  {% for place in (places.values()|list)|sort(attribute="name") %}
          <article>
            <div class="title_box">
              <H2>{{ place.name }}</H2>
              <div class="price_by_night">&#36;{{ place.price_by_night }}</div>
            </div>

            <div class="information">
              <div class="max_guest">
                <I class="fa fa-users fa-3x" aria-hidden="true"></I>
                <br>{{ place.max_guest }} Guests
              </div>
              <div class="number_rooms">
				<div class="rooms_icon">
                <I class="fa fa-bed fa-3x" aria-hidden="true"></I>
                <br>{{ place.number_rooms }} Rooms
				</div>
              </div>
              <div class="number_bathrooms">
                <I class="fa fa-bath fa-3x" aria-hidden="true"></I>
                <br>{{ place.number_bathrooms }} Bathrooms
              </div>
            </div>

            <div class="user">
              <strong>Owner:</strong> {{ place.user.first_name }} {{ place.user.last_name }}
            </div>

            <div class="description">{{ place.description|safe }}</div>

            <div class="reviews">
              <H2>{{ place.reviews.__len__() }} Reviews</H2>
              {% for review in place.reviews %}
              <h3>From {{ review.user.first_name }} the {{ review.created_at.date().__str__() }}</h3>
              <ul>
                <li><P>{{ review.text|safe }}</P></li>
              </ul>
            {% endfor %}
            </div>
          </ARTICLE>
          {% endfor %}
        </section>
      </div>

	<footer>
		<p class="footer.p">Best School</p>
	</footer>
</body>
</html>
